*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    position: relative;
}

.invalid{
    display: none;
    margin-top: 3px;
    margin-left: 24px;
    background-color: #ffeeee;
    color: #cc3333;
    padding: 2px 3px;
    border: 1px solid #cc3333;
    width: fit-content;
}
p.show{
    display: block;
}